@keyframes runSkillcheck {
    from { left: 0px; }
    to { left: 100%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


.skillcheckContainer {
    animation: fadeIn .5s;
    animation-play-state: paused;
    opacity: var(--fadeOut, 1);
    position: fixed;
    display: var(--skillcheckTela, none);
    height: 100%;
    width: 80%;
    left: 20%;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.625);
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.skillcheck {
    display: flex;
    position: fixed;
    width: 371.4px;
    height: 20%;
    bottom: 13%;
    float: right;
    align-items: center;
    justify-content: center;
}

.skillcheckBarra {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    width: 371.4px;
    height: 50px;
    background-color: #414141;
    border: 2px solid #67358f;
}
.skillcheckTextArea {
    width: auto;
    height: auto;
    padding: .5rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(4px);
}
.hitArea {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    width: 37.1px;
    height: 50px;
    background-color: #89022a;
    border: 2px solid #67358f;
}

.pointer {
    z-index: 9;
    animation: runSkillcheck 1.5s linear;
    animation-play-state: paused;
    background-color: #fff;
    height: 80px;
    width: .3rem;
    position: relative;
    /* transition: 2s linear; */
}

.dodgeText {
    color: #fff;
    font-size: 20px;
}