.calc {
    width: 25vw;
    float: left;
    height: 100vh;
}
.rpg {
    width: 75vw;
    float: right;
    height: 100vh;
    background-image: url(../../image/fundo1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}