.healthBox {
    background-color: rgba(0, 0, 0, 0.543);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}
.barra {
    height: 1rem;
    width: 15vw;
    background-color: #aeaeae;
    padding: 3px;
    position: relative;
}
.hit {
    float: left;
    background-color: red;
    margin: 0 auto;
    width: 15vw;
    height: auto;
    position: relative;
    transition: width .5s linear;
}
.bar {
    background-color: rgb(255, 196, 0);
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    transition: width 2s;
    transition-delay: .75s;
}
.healthText {
    color: #fff;
    display: flex;
    flex-direction: row;
    width: fit-content;
}