.healthBox {
    background-color: rgba(0, 0, 0, 0.811);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    left: 0%;
    align-items: center;
    padding: .5rem;
    z-index: 888;
}
.barra {
    height: auto;
    width: 15vw;
    background-color: #515151;
    padding: 3px;
    position: relative;
}
.hit {
    float: left;
    background-color: rgb(255, 67, 67);
    margin: 0 auto;
    width: 15vw;
    height: 1rem;
    position: relative;
    transition: width .5s linear;
}
.bar {
    background-color: rgb(255, 196, 0);
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    height: 1rem;
    transition: width 2s;
    transition-delay: .75s;
}
.chronosBarContainer {
    background-color: rgb(122, 207, 228);
    top: 5;
    right: 0;
    bottom: 0;
    width: 0px;
    height: .35rem;
}
.chronosBar {
    background-color: rgba(0, 0, 0, 0.749);
    top: 0;
    right: 0;
    bottom: 0;
    width: 0px;
    height: .35rem;
    float: right;
    transition: width .5s;
}
.total {
    height: 1rem;
    width: 15vw;
    background-color: #212121;
    position: relative;
}
.healthText {
    color: #fff;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

