@font-face {
    font-family: 'PixeloidSansBold';
    src: local('PixeloidSansBold'),
    url('../../assets/fonts/PixeloidSansBold-RpeJo.ttf') format('truetype');
}
* {
    font-family: "PixeloidSansBold";
    user-select: none;
    cursor: url('../../assets/image/newRedCursor.png'), auto;
}
.mainContainer {
    overflow: hidden;
    display: flex;
    height: 100%;
    width: 100%;
}
.containerCalc {
    background-color: #201f29;
    height: 100vh;
    width: 20%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: none;
    overflow: hidden;
}
.containerRpg {
    height: 100vh;
    width: 80%;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    flex: none;
    /* filter: brightness(80%); */
}
.barraEspaco {
    height: 100vh;
    width: 1vw;
}
.sideInventario {
    z-index: 3;
    flex: none;
    position: fixed;
    left: 21%;
    top: 100%;
    height: 30%;
    width: 79%;
    transition: ease-in-out .4s;
    transform: var(--subirInventario, translateY(0%));
}
.sideMapa {
    z-index: 3;
    flex: none;
    position: fixed;
    left: 21%;
    top: 100%;
    height: 30%;
    width: 79%;
    transition: ease-in-out .4s;
    transform: var(--subirMapa, translateY(0%));
}
.headerCalc {
    background-color: #201f29;
    padding-top: 1rem;
}
.titleCalc {
    color: #f9f9f9;
    margin: 0;
    margin-top: 1rem;
}
.perguntaCalc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 12.5rem;
    height: 1rem;
    margin: 0;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.resultadoCalc {
    color: #f9f9f9;
    margin: 0;
    margin-top: 2rem;
}
.inputCalc {
    background-color: #333333;
    color: #fff;
    width: 17vw;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    transition: ease-out 150ms;
    font-size: 1rem;
    letter-spacing: 1px;
}
.inputCalc:hover {
    background-color: #252525;
    border-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.075) inset, 0 0 9px rgba(0, 0, 0, 0.6);
    background-color: #252525;
    outline: 0 none;
}
.inputCalc::placeholder {
    padding-left: 1px;
    align-items: center;
    justify-content: center;
}
.perguntaDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.square {
    height: 3rem;
    width: var(--diminuir-square, 8rem);
    margin-inline: var(--abrir-pergunta, -8rem);
    background-color: #f9f9f9;
    transition: .5s ease-in-out;
    z-index: 5;
}


.buttonApagar {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #f9f9f9;
    margin-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #4f1e2d;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: ease-out 100ms;
}
.buttonApagar:hover {
    background-color: #a90000;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonApagar:active {
    font-size: .9rem;
    margin-top: 10px;
    transition: ease-out 25ms;
    background-color: #ff0011;
}
.buttonMenos {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #f9f9f9;
    margin-right: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #311e4f;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: ease-out 100ms;
}
.buttonMenos:hover {
    background-color: #4800ff;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonMenos:active {
    font-size: .9rem;
    margin-top: 10px;
    transition: ease-out 25ms;
    background-color: #6f00ff;
}
.buttonGrid {
    margin-top: .5rem;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(4, 50px);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.buttonPad {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-inline: 5px;
    background-color: #616161;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    transition: ease-out 100ms;
}
.buttonPad:nth-child(10) {
    grid-area: 4 / 2;
}
.buttonApagar:nth-child(11) {
    grid-area: 4 / 3;
}
.buttonPad:hover {
    background-color: #717171;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonPad:active {
    font-size: .9rem;
    margin-top: 10px;
    transition: ease-out 50ms;
    background-color: #212121;
}
.buttonCalcAtk {
    background-color: #bb3a43;
    border: none;
    color: #fdf9f3;
    font-weight: 500;
    width: 9.5rem;
    height: 9rem;
    padding: 5px;
    padding-inline: 9px;
    /* margin-right: 16px; */
    border-radius: 4px;
    font-size: 1rem;
    transition: ease-out 150ms;
    margin-top: .25rem;
    margin-bottom: .25rem;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}

.buttonCalcUlt {
    background-color: #33a592;
    border: var(--borderChronos, none);
    color: #fdf9f3;
    font-weight: 500;
    width: 9.5rem;
    height: 9rem;
    padding: 5px;
    padding-inline: 9px;
    border-radius: 4px;
    font-size: 1rem;
    transition: ease-out 150ms;
    margin-top: .25rem;
    margin-bottom: .25rem;  
}

.buttonCalcCurar {
    background-color: #5f3abb;
    border: none;
    color: #fdf9f3;
    font-weight: 500;
    width: 9.5rem;
    height: 9rem;
    padding: 5px;
    padding-inline: 9px;
    /* margin-left: 16px; */
    border-radius: 4px;
    font-size: 1rem;
    transition: ease-out 150ms;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.buttonCalcText {
    margin: 0;
    padding-top: .5rem;
    padding-bottom: 1.2rem;
    font-size: 20px;
    background-color: rgba(0%, 0%, 0%, 0.0001);
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.buttonCalcAtk:hover {
    background-color: #a3333a;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    height: 9.5rem;
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonCalcUlt:hover {
    background-color: #267e6f;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    height: 9.5rem;
    font-size: 1.05rem;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonCalcCurar:hover {
    background-color: #6433a3;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    height: 9.5rem;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
}
.buttonCalcCurar:disabled,
.buttonCalcAtk:disabled,
.buttonCalcUlt:disabled,
.buttonConfirmar:disabled {
    background-color: #313131;
    background-image: linear-gradient(270deg, #313131, #313131);
}
.buttonConfirmar:active {
    font-size: .9rem;
}

.chevronIcon {
    transform: var(--rotarChevron, rotate(180deg));
    color: #fff;
    transition: 150ms;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.chevronDiv {
    position: absolute;
    top: 64%;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 1.5rem;
    backdrop-filter: blur(4px);
    background-color: var(--chevronBack, rgba(0, 0, 0, 0.461));
    border-radius: 5px;
    border: 1.5px solid #fff;
    transition: ease-in-out 150ms;
}
.chevronDiv:hover {
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    background-color: rgba(101, 101, 101, 0.461);
}

.mapIcon {
    transform: var(--rotarMapa, rotate(0deg));
    color: #fff;
    transition: ease-in-out 150ms;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.mapDiv {
    position: absolute;
    top: 64%;
    left: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 1.5rem;
    backdrop-filter: blur(4px);
    background-color: var(--mapBack, rgba(0, 0, 0, 0.461));
    border-radius: 5px;
    border: 1.5px solid #fff;
    transition: ease-in-out 150ms;
}
.mapDiv:hover {
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    background-color: rgba(101, 101, 101, 0.461);
}

.buttonTutorial {
    color: #fff;
    transition: 150ms;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}

svg path {
    /* d: path("M 488 192 H 336 v 56 c 0 39.7 -32.3 72 -72 72 s -72 -32.3 -72 -72 V 126.4 l -64.9 39 C 107.8 176.9 96 197.8 96 220.2 v 47.3 l -80 46.2 C 0.7 322.5 -4.6 342.1 4.3 357.4 l 80 138.6 c 8.8 15.3 28.4 20.5 43.7 11.7 L 231.4 448 H 368 c 35.3 0 64 -28.7 64 -64 h 16 c 17.7 0 32 -14.3 32 -32 v -64 h 8 c 13.3 0 24 -10.7 24 -24 v -48 c 0 -13.3 -10.7 -24 -24 -24 Z m 147.7 -37.4 L 555.7 16 C 546.9 0.7 527.3 -4.5 512 4.3 L 408.6 64 H 306.4 c -12 0 -23.7 3.4 -33.9 9.7 L 239 94.6 c -9.4 5.8 -15 16.1 -15 27.1 V 248 c 0 22.1 17.9 40 40 40 s 40 -17.9 40 -40 v -88 h 184 c 30.9 0 56 25.1 56 56 v 28.5 l 80 -46.2 c 15.3 -8.9 20.5 -28.4 11.7 -43.7 Z"); */
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}

.buttonTutorialDiv {
    position: absolute;
    top: 2%;
    left: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.461);
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 150ms;
}
.buttonTutorialDiv:hover {
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    transform: rotate(35deg);
    background-color: rgba(101, 101, 101, 0.461);

}

.conditionDiv {
    position: absolute;
    bottom: 31%;
    left: 22.5%;
    width: 22%;
    height: auto;
    color: #fff;
    padding-inline: 0.5rem;
    z-index: 9;
    display: var(--display, none);
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(4px);
    border-radius: 7px;
    transition: 350ms;
    opacity: 0;
}

.tipDiv {
    position: absolute;
    top: 20%;
    right: 1%;
    width: 22%;
    height: auto;
    color: #fff;
    padding-left: 0.5rem;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    backdrop-filter: blur(4px);
    border-radius: 7px;
    transition: 350ms;
}

.tipDivButton {
    background-color: transparent;
    border: none;
    /* border-radius: 7px; */
    border-radius: 0px 7px 7px 0px;
    color: rgb(255, 91, 91);
    transition: 350ms;
}

.tipDivButton:hover {
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    box-shadow: none;
    background-color: rgba(46, 46, 46, 0.509);
}


.atkIcon {
    font-size: 50px;
    margin-left: 5px;
    background-color: transparent;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.chronoIcon {
    font-size: 50px;
    /* margin-left: 5px; */
    background-color: transparent;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.healIcon {
    font-size: 50px;
    background-color: transparent;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.deleteIcon {
    font-size: 25px;
    background-color: transparent;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.buttonDivCalc {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.buttonDivCalc2 {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-inline: .75rem;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}


@keyframes TransitioningBackground {
    0% {
        background-position: 1% 0%;
    }
    50% {
        background-position: 99% 100%;
    }
    100% {
        background-position: 1% 0%;
    }
}
.divButtonConfirmar {
    margin: 0;
}
.buttonConfirmar {
    overflow: hidden;
    background-color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(250deg, #4f1e2d, #4800ff );
    animation: TransitioningBackground 2s ease-in-out infinite;
    transition: 0.6s;
    background-size: 400% 400%;
    color: #fff;
    border-radius: 4px;
    transition: 150ms;
    position: relative;
    
}
.buttonConfirmar::before {
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    content:'';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -55%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
}
.buttonConfirmar:hover {
    /* padding: 1.1rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: (linear-gradient(to right, #4f1e2d, #4800ff));
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
button:hover {
    box-shadow: 0 8px 12px rgba(0,0,0,0.1), inset 0 10px 30px rgba(255,255,255,0.3), inset 0 2px 2px rgba(255,255,255,0.2);
}
.buttonConfirmar:hover:before{
    right: -100%;
}


.buttonSpace {
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 13%, 0.657);
}
.characterSpace {
    height: 70%;
}
.showCuraCounter {
    position: relative;
    margin: 0;
    margin-left: 80%;
}