.mainContainerIntro {
    background-image: url("../../assets/image/fundo1.gif");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.centerContainer {
    width: 50%;
    height: 50%;
    background-color: rgba(137, 137, 137, 0.091);
    color: #fff;
    backdrop-filter: blur(4px);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.inputIntro {
    background-color: #333333;
    color: #fff;
    width: 17vw;
    padding: .8rem;
    border: none;
    border-radius: 4px;
    transition: ease-out 150ms;
    font-size: 1rem;
    letter-spacing: 1px;
}

.inputIntro:focus {
    outline: none;
    box-shadow: 0 0px 19px rgba(0, 0, 0, 0.075) inset, 0 0 19px rgba(0, 0, 0, 0.6);
}

.buttonIntro {
    overflow: hidden;
    background-color: #fff;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-image: linear-gradient(200deg, #74112f, #8f62ff );
    animation: TransitioningBackground 2s ease-in-out infinite;
    transition: 0.6s;
    background-size: 400% 400%;
    color: #fff;
    border-radius: 4px;
    transition: 150ms;
    position: relative;
}
.buttonIntro::before {
    background: linear-gradient(transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    content:'';
    height: 200%;
    position: absolute;
    right: calc(100% + 20px);
    top: -55%;
    transform: rotate(-70deg);
    transition: .6s ease-in-out right;
    width: 80px;
    z-index: 0;
}
.buttonIntro:hover {
    padding-inline: 1.3rem;
    background-image: (linear-gradient(to right, #4f1e2d, #4800ff));
    cursor: pointer;
}
.buttonIntro:hover:before{
    right: -100%;
}