@keyframes flying {
    0% { transform: translate(0, 0px); }
    25% { transform: translate(0px, 10px); }
    50% { transform: translate(0px, 0px); }
    75% { transform: translate(0px, -10px); }
    100% { transform: translate(0, 0px); }
}

.divPersonagens {
    height: 70vh;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 3rem;
    margin-left: 8rem;
    float: left;
}
.enem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-top: 1rem;
    margin-right: 12rem;
    float: right;
    animation: flying 3s linear infinite;
}