@keyframes flying {
    0% { transform: translate(0, 0px); }
    25% { transform: translate(0px, 10px); }
    50% { transform: translate(0px, 0px); }
    75% { transform: translate(0px, -10px); }
    100% { transform: translate(0, 0px); }
}

.divPersonagens {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.player {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    margin-top: 6%;
    margin-left: 19%;
    float: left;
}
.enem {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    margin-top: 7%;
    margin-right: 19%;
    float: right;
    animation: flying 3s linear infinite;
}
.healStyle {
    z-index: 1;
    position: relative;
    top: 3rem;
    right: 11.5rem;
    transition: ease-in-out;
}
.showDanoRight {
    color: #fff;
    position: absolute;
    top: 2rem;
    left: 10rem;
}
.showDanoLeft {
    color: #fff;
    position: absolute;
    top: 3rem;
    right: 10rem; 
}
.showCritLeft {
    color: rgb(255, 57, 57);
    position: absolute;
    top: 6.5rem;
    right: 8.3rem;
    font-size: 20px;
}
.showCritRight {
    color: rgb(255, 57, 57);
    position: absolute;
    top: 5.5rem;
    left: 9.2rem;
    font-size: 20px;
}
.showCura {
    color: rgb(64, 255, 191);
    position: absolute;
    top: 6.5rem;
    left: 9.2rem;
    font-size: 30px;
}