.invtrContainer {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    height: 100%;
    width: 100%;
    left: 27%;
    
}
.invtrButton {
    border-radius: 50%;
    padding: .75rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
    color: #fff;
    border: none;
    background-color: var(--corFundo,rgba(0, 0, 0, 0.543));
    transition: 350ms;

}
.invtrButton:hover {
    box-shadow: none;
    background-color: rgba(90, 90, 90, 0.343);
    cursor: pointer;
}
.invtrButton:focus {
    box-shadow: none;
}
.invtrBody {
    visibility: var(--visibilidade, visible);
    background-color: rgba(0, 0, 0, 0.543);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 34%;
    align-self: flex-start;
}
.descricaoChronos {
    visibility: var(--visibilidade, visible);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 1rem; */
    align-items: center;
    height: 100%;
    width: 34%;
}
.infoChronos {
    visibility: var(--visibilidade, visible);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 1rem; */
    align-items: center;
    height: 100%;
    width: 34%;
}
.chronosText {
    font-size: 11px;
    text-align: center;
    line-height: 1.1rem;
    width: 90%;
    margin: 0;
}


.armaGroup {
    display: flex;
}
.emblemaGroup {
    display: flex;
}


.invtrArmas {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    margin-inline: 1.5rem;
    height: 4rem;
    width: 4rem;
    /* border: 2px solid #45dec4; */
    border: var(--borderChronos, none);
    border-radius: 50%;
    background-color: var(--corFundoArma, #267e6f);
    color: var(--corArma, #f4f4f4);
}
.invtrArmas:hover, 
.invtrEmblemas:hover {
    box-shadow: none;
    background-color: #33a592;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.invtrArmas:focus, 
.invtrEmblemas:focus {
    box-shadow: none;
}

.svgArma {
    font-size: 2rem;
    margin: auto;
    background-color: transparent;
}
.svgEmblema {
    font-size: 2rem;
    margin: auto;
    background-color: transparent;
}