.invtrContainer {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    height: 100%;
    width: 100%;
    left: 27%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.733);
}
.invtrButton {
    border-radius: 50%;
    padding: .75rem;
    width: 3rem;
    height: 3rem;
    margin-bottom: .5rem;
    color: #fff;
    border: none;
    background-color: var(--corFundo,rgba(0, 0, 0, 0.543));
    transition: 350ms;

}
.invtrButton:hover {
    box-shadow: none;
    background-color: rgba(90, 90, 90, 0.343);
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.invtrButton:focus {
    box-shadow: none;
}
.invtrBody {
    visibility: var(--visibilidade, visible);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;
    align-self: flex-start;
}
.nameContainer {
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.747);
}
.nameChronos {
    color: #fff;
    text-align: center;
}

.conditionSignDiv {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 83%;
    left: 34%;
    background-color: rgba(74, 74, 74, 0.607);
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    transition: 150ms;
}
.conditionSign {
    margin: 0;
    margin-left: 2px;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}

.conditionSignDiv:hover {
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    background-color: rgba(114, 114, 114, 0.607);
}


.descricaoChronos {
    visibility: var(--visibilidade, visible);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 34%;
}
.infoChronos {
    visibility: var(--visibilidade, visible);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 34%;
}
.chronosText {
    display: flex;
    align-self: center;
    font-size: 16px;
    text-align: center;
    line-height: 1.3rem;
    width: 90%;
    margin-inline: auto;
    margin-block: 0;
}

.buttonFlex {
    transition: 150ms;
    border-bottom: 1px solid #41d4bc;
}

.invtrArmas {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
    border: none;
    margin-bottom: var(--marginBottom, .5rem);
    border-radius: 50%;
    background-color: var(--corFundoArma, #267e6f);
    color: #f4f4f4;
}
.invtrArmas:hover {
    box-shadow: none;
    background-color: #33a592;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
    transition: 250ms ease-in-out;
}
.invtrArmas:focus {
    box-shadow: none;
}
.invtrArmas:disabled {
    background-color: #313131;
    background-image: linear-gradient(270deg, #313131, #313131);
}

.svgArma {
    font-size: 2rem;
    margin: auto;
    background-color: transparent;
    cursor: url('../../assets/image/newPointerCursor.png'), auto;
}
.svgEmblema {
    font-size: 2rem;
    margin: auto;
    background-color: transparent;
}